.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  background-color: var(--bg-base); /* Assuming you have a color variable */
  border: 1px solid var(--border-base); /* Consistent border styling */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
  width: auto; /* Adjust width as needed */
  max-width: 500px; /* Ensure it doesn't grow too large */
  margin: auto; /* Center the modal */
  min-height: 150px
}

.signInText {
  font-size: 16px; /* Adjust font size for readability */
  color: var(--text-primary); /* Consistent text color */
  margin-bottom: 12px; /* Space between text and link */
}

.error {
  color: var(--danger); /* Error color for visibility */
  margin-top: 10px; /* Space above the error message */
  font-size: 14px; /* Smaller font size for error text */
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 8px;
}

.button {
    margin-bottom:20px
}

