/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/pageContent/Dashboard/Dashboard.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.Dashboard_section__wYksF {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Dashboard_dashboardContainer__aqZ1_ {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.Dashboard_mainContainer__fZnEn {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Dashboard_actionTitle__xKFak {
  font-size: 32px;
  font-weight: 700;
}

.Dashboard_actionsContainer__7i3Nz {
  display: flex;
  width: 384px;
  flex-direction: row;
  justify-content: center;
}

.Dashboard_actionsContents__cDRMK {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* width: 200px; */
  width: 100%;
  /* align-items: center; */
}

.Dashboard_actionButtonsContainer__yc41z {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.Dashboard_actionButtons__o72nF {
  display: flex;
  gap: 16px;
  /* justify-content: center; */
  flex-direction: column;
  width: 180px;
}

.Dashboard_featureRequest___QvwX {
  font-size: 16px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/patterns/Button/Button.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.Button_base__MEZtT {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.Button_rg__J596g {
  font-size: 15px;
  height: 40px;
  min-width: 40px;
  border-radius: 20px;
}

.Button_sm__IavV0 {
  font-size: 13px;
  height: 32px;
  min-width: 32px;
  border-radius: 16px;
}

.Button_icon__9Ks3f svg {
  color: currentColor !important;
}

.Button_icon__9Ks3f {
  display: flex;
}

.Button_hasLabel__MQzBi {
  padding-left: 16px;
  padding-right: 16px;
}

.Button_primary__a12wB:hover,
.Button_secondary__LIXr8:hover {
  opacity: 0.8;
}

.Button_disabled__ciNUi:hover {
  opacity: 0.6;
}

.Button_primary__a12wB {
  background-color: var(--bq-maroon);
  color: var(--fg-on-accent);
}

.Button_secondary__LIXr8 {
  background-color: var(--bg-muted);
  color: var(--fg-base);
}

.Button_ghost__kaMBH:hover {
  background-color: var(--hover-bg);
}

.Button_ghost__kaMBH {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  color: var(--fg-base);
}

.Button_disabled__ciNUi {
  opacity: 0.6;
  cursor: not-allowed;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/PageLayout/PageLayout.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.PageLayout_container__Ve6R5 {
  display: flex;
  width: 100%;
  height: 100vh;
}

.PageLayout_main__kiccA {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.PageLayout_mainWrapper__nIcuc {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: auto;
  flex: 1 1 auto;
}

.PageLayout_mainContent__UetoZ {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 1000px;
  padding: 16px;
}

.PageLayout_footer__xSGSQ {
  display: flex;
  justify-content: center;
  padding: 16px;
  padding-top: 0;
}

.PageLayout_footerInner__ZCzEr {
  max-width: 1000px;
  flex: 1 1 auto;
}

.PageLayout_header__hiJ6I {
  display: flex;
  justify-content: center;
  background-color: var(--bg-base);
  border-bottom: 1px solid var(--border-base);
  padding: 16px;
  padding-bottom: 24px;
}

.PageLayout_headerInner__SRPI7 {
  max-width: 1000px;
  flex: 1 1 auto;
}

.PageLayout_secondaryColumn__VhDMY {
  width: 400px;
  display: flex;
  border-left: 1px solid var(--border-base);
  font-size: 13px;
  overflow: auto;
}

@media (max-width: 800px) {
  .PageLayout_secondaryColumn__VhDMY {
    display: none;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/patterns/Header/Header.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.Header_mainHeader__H_33D {
  display: flex;
  gap: 8px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.Header_offsetHeader__prRx8 {
  margin-left: -8px;
}

.Header_titleAndMenu__9qhES {
  display: flex;
  gap: 8px;
  align-items: center;
}

.Header_container__vNGVT p {
  color: var(--fg-muted);
  font-size: 15px;
}

.Header_container__vNGVT {
  display: flex;
  flex-direction: column;
}

.Header_actionGroup__ZYE2e {
  gap: 8px;
  display: flex;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/patterns/HamburgerMenu/HamburgerMenu.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.HamburgerMenu_menu__esrs0 {
  width: 300px;
  height: 100vh;
  background-color: var(--bg-base);
  border-right: 1px solid var(--border-base);
  position: fixed;
  top: 0;
  left: -300px; /* Start off the screen */
  overflow-x: hidden;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 100;
  padding-top: 16px;
  padding-bottom: 16px;
}

.HamburgerMenu_overlay__meq8j {
  position: absolute;
  background-color: none;
  z-index: 1001;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.HamburgerMenu_overlay__meq8j.HamburgerMenu_open__Og21K {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
}

.HamburgerMenu_menu__esrs0.HamburgerMenu_open__Og21K {
  left: 0;
}

.HamburgerMenu_menu__esrs0 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.HamburgerMenu_menu__esrs0 ul li a {
  padding: 16px;
  border-bottom: 1px solid var(--border-base);
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--fg-base);
  font-weight: 500;
}

.HamburgerMenu_menu__esrs0 ul li p {
  font-size: 13px;
  font-weight: normal;
}

.HamburgerMenu_bTop__J9Hq0 {
  border-top: 1px solid var(--border-base);
}

.HamburgerMenu_menu__esrs0 ul li a:hover {
  background-color: var(--hover-bg);
  text-decoration: none;
}

.HamburgerMenu_header___6ew_ {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: -8px;
}

.HamburgerMenu_divider__VDVw2 {
  width: 100%;
  height: 8px;
  background-color: var(--bg-faint);
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/patterns/Modal/templates/SubscribeModal/SubscribeModal.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SubscribeModal_container__B76gE {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--fg-base);
}

.SubscribeModal_yearlyOption__G1Qg9 {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--bq-maroon);
  background-color: var(--bq-maroon-faint);
  padding: 12px;
  justify-content: space-between;
}

.SubscribeModal_text__5tHrY {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.SubscribeModal_text__5tHrY h2 {
  color: var(--bq-maroon);
}

.SubscribeModal_text__5tHrY p {
  color: var(--fg-base);
  font-size: 13px;
}

.SubscribeModal_checkmark__jW2IV {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background-color: var(--bq-maroon);
}

.SubscribeModal_checkmark__jW2IV svg {
  color: var(--fg-on-accent);
}

.SubscribeModal_buttonGroup__WOG7E,
.SubscribeModal_benefits__FT8qX {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.SubscribeModal_benefit__Azn7e {
  display: flex;
  align-items: center;
  color: var(--fg-muted);
  font-size: 14px;
  gap: 12px;
}

.SubscribeModal_benefit__Azn7e svg {
  color: var(--bq-maroon);
  flex-shrink: 0;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/patterns/Modal/Modal.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.Modal_header__QAsGN {
  padding: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  flex: 0 0 auto;
}

.Modal_headerTitle__gzheI {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Modal_subtitle__9AazL {
  font-size: 15px;
  color: var(--fg-muted);
}

.Modal_headerContent__G0Q_V {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Modal_overlay__FV2aq {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal_container__D3IaA {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  background-color: var(--bg-base);
  border-radius: 12px;
  border: 1px solid var(--border-base);
}

.Modal_content__Py8Bx {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.Modal_close__2KO0Q {
  margin-right: -8px;
}

.Modal_footer__taBgO {
  display: flex;
  justify-content: flex-end;
  padding: 12px 16px;
  border-top: 1px solid var(--border-base);
  gap: 8px;
  flex: 0 0 auto;
}

.Modal_noDivider__LgSSh {
  border-top: none;
}

@media (max-width: 685px) {
  .Modal_overlay__FV2aq {
    align-items: flex-end;
  }

  .Modal_container__D3IaA {
    width: 100%;
    max-width: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-top: 1px solid var(--border-base);
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/patterns/Modal/templates/VerifyModal/VerifyModal.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************/
.VerifyModal_container__UJXHm {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/patterns/TextInput/TextInput.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.TextInput_label__7BPun {
  font-size: 14px;
  font-weight: 600;
  color: var(--fg-base);
}

.TextInput_inputWrapper__uLeoQ {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.TextInput_disabled__SQITY {
  opacity: 0.5;
  pointer-events: none;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/patterns/Modal/templates/AuthModal/AuthModal.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
.AuthModal_container__TRBIp {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  background-color: var(--bg-base); /* Assuming you have a color variable */
  border: 1px solid var(--border-base); /* Consistent border styling */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
  width: auto; /* Adjust width as needed */
  max-width: 500px; /* Ensure it doesn't grow too large */
  margin: auto; /* Center the modal */
  min-height: 150px
}

.AuthModal_signInText__ZuxkR {
  font-size: 16px; /* Adjust font size for readability */
  color: var(--text-primary); /* Consistent text color */
  margin-bottom: 12px; /* Space between text and link */
}

.AuthModal_error__Dng1p {
  color: var(--danger); /* Error color for visibility */
  margin-top: 10px; /* Space above the error message */
  font-size: 14px; /* Smaller font size for error text */
}

.AuthModal_iconWrapper__VefRA {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 8px;
}

.AuthModal_button__JfD3i {
    margin-bottom:20px
}


