.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashboardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.mainContainer {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.actionsContainer{
    display: flex;
    width: 768px;
    flex-direction: row;
    justify-content: center;
}

.actionsContents {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
    /* width: 100%; */
    /* align-items: center; */

}

.actionButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    width: 100%;

}

.actionButtons {
    display: flex;
    gap: 16px;
    /* justify-content: center; */
    flex-direction: column;
    width: 140px;

}

.featureRequest{
    font-size: 8px;
}