.main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding-top: 16px;
  padding-bottom: 24px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header p {
  font-size: 16px !important;
}

.button {
  width: 100%;
}

.orWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--fg-muted);
  font-size: 13px;
}

.disabled {
  opacity: 0.25;
}

.miniHeader {
  font-size: 14px;
  font-weight: 600;
  color: var(--fg-base);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 8px;
}

