body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-base);
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
  color: var(--fg-base);
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: var(--bq-maroon);
  cursor: pointer;
}

svg {
  stroke-width: 2.5px;
  color: var(--fg-base);
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

:root {
  --bq-maroon: #007bff;
  --bq-maroon-light: #ffc3ab;
  --bq-maroon-faint: #ffe4d9;
  --bq-maroon-x-faint: #fffbf9;
  --ff-brown: #261c15;
  --ff-lime: #c5d86d;
  --ff-beige: #0d0d0a;
  --ff-off-white: #f7f7f2;

  --ff-pink: #ff5991;
  --ff-pink-faint: #fff9fb;

  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  --overlay: rgba(0, 0, 0, 0.25);
  --hover-bg: rgba(0, 0, 0, 0.05);

  /* Foreground */
  --fg-base: #000;
  --fg-muted: #5f5f5f;
  --fg-faint: #c4c4c4;

  --fg-error: red;

  /* Background */
  --bg-base: #fff;
  --bg-muted: #e6e6e6;
  --bg-faint: #f7f7f7;

  /* Accent */
  --fg-on-accent: #fff;

  /* Border */
  --border-base: #d4d4d4;
  --border-muted: #e3e3e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bq-maroon: #e0724d;
    --bq-maroon-light: #6e3d2f;
    --bq-maroon-faint: #291713;
    --bq-maroon-x-faint: #1a0a04;
    --ff-brown: #a68c7f;
    --ff-lime: #b8c988;
    --ff-beige: #b0b29b;
    --ff-off-white: #a1a1a1;

    --ff-pink: #ff679a;
    --ff-pink-faint: #1e1115;

    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
    --overlay: rgba(0, 0, 0, 0.75);
    --hover-bg: rgba(255, 255, 255, 0.05);

    /* Foreground */
    --fg-base: #fff;
    --fg-muted: #b2b2b2;
    --fg-faint: #525252;

    --fg-error: red;

    /* Background */
    --bg-base: #121212;
    --bg-muted: #323232;
    --bg-faint: #1b1b1b;

    /* Border */
    --border-base: #323232;
    --border-muted: #232323;

    /* Accent */
    --fg-on-accent: #fff;
  }
}

input,
textarea,
select {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--border-base);
  font-size: 16px;
  box-sizing: border-box;
  color: var(--fg-base);
  padding: 0 12px;
  background-color: var(--bg-base);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--fg-faint);
}

input:focus,
textarea:focus,
select:focus {
  outline-color: var(--bq-maroon);
}

select {
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
}

textarea {
  width: 100% !important;
  max-height: 150px;
  min-height: 80px;
  padding: 12px;
}

.react-syntax-highlighter-line-number {
  opacity: 0.35;
}
