/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/layout.tsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_aaf875';src: local("Arial");ascent-override: 90.49%;descent-override: 22.56%;line-gap-override: 0.00%;size-adjust: 107.06%
}.__className_aaf875 {font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';font-style: normal
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-base);
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
  color: var(--fg-base);
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: var(--bq-maroon);
  cursor: pointer;
}

svg {
  stroke-width: 2.5px;
  color: var(--fg-base);
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

:root {
  --bq-maroon: #007bff;
  --bq-maroon-light: #ffc3ab;
  --bq-maroon-faint: #ffe4d9;
  --bq-maroon-x-faint: #fffbf9;
  --ff-brown: #261c15;
  --ff-lime: #c5d86d;
  --ff-beige: #0d0d0a;
  --ff-off-white: #f7f7f2;

  --ff-pink: #ff5991;
  --ff-pink-faint: #fff9fb;

  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  --overlay: rgba(0, 0, 0, 0.25);
  --hover-bg: rgba(0, 0, 0, 0.05);

  /* Foreground */
  --fg-base: #000;
  --fg-muted: #5f5f5f;
  --fg-faint: #c4c4c4;

  --fg-error: red;

  /* Background */
  --bg-base: #fff;
  --bg-muted: #e6e6e6;
  --bg-faint: #f7f7f7;

  /* Accent */
  --fg-on-accent: #fff;

  /* Border */
  --border-base: #d4d4d4;
  --border-muted: #e3e3e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bq-maroon: #e0724d;
    --bq-maroon-light: #6e3d2f;
    --bq-maroon-faint: #291713;
    --bq-maroon-x-faint: #1a0a04;
    --ff-brown: #a68c7f;
    --ff-lime: #b8c988;
    --ff-beige: #b0b29b;
    --ff-off-white: #a1a1a1;

    --ff-pink: #ff679a;
    --ff-pink-faint: #1e1115;

    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
    --overlay: rgba(0, 0, 0, 0.75);
    --hover-bg: rgba(255, 255, 255, 0.05);

    /* Foreground */
    --fg-base: #fff;
    --fg-muted: #b2b2b2;
    --fg-faint: #525252;

    --fg-error: red;

    /* Background */
    --bg-base: #121212;
    --bg-muted: #323232;
    --bg-faint: #1b1b1b;

    /* Border */
    --border-base: #323232;
    --border-muted: #232323;

    /* Accent */
    --fg-on-accent: #fff;
  }
}

input,
textarea,
select {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--border-base);
  font-size: 16px;
  box-sizing: border-box;
  color: var(--fg-base);
  padding: 0 12px;
  background-color: var(--bg-base);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--fg-faint);
}

input:focus,
textarea:focus,
select:focus {
  outline-color: var(--bq-maroon);
}

select {
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
}

textarea {
  width: 100% !important;
  max-height: 150px;
  min-height: 80px;
  padding: 12px;
}

.react-syntax-highlighter-line-number {
  opacity: 0.35;
}

