.container {
  width: "100%";
  background-color: var(--bg-muted);
  height: 12px;
  border-radius: 100px;
  overflow: hidden;
}

.progress {
  background-color: var(--bq-maroon);
  height: 100%;
  transition: "width 0.5s ease-in-out";
}
